[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "tidyprompt"]
	path = tidyprompt
	url = https://github.com/tjarkvandemerwe/tidyprompt
